@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<p>Sign up to explore new opportunities</p>
<form asp-action="SendEmail">
    
    <div class="input-group">
        <input type="email" asp-for="Email" placeholder="Email" required>
        <span class="input-icon">📧</span>
    </div>
    

   
    <div asp-validation-summary="All"></div>

    <button type="submit" class="btn">Send Email</button>
    <p class="switch-text">
      <a href="/Account/Login" class="toggle-form">Login</a> @* <span class="toggle-form">Login</span> *@
    </p>
</form>