@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<form asp-action="ResetPassword" method="post">
    <h2>Create Account</h2>
    <p>Sign up to explore new opportunities</p>
    
    
    <div class="input-group">
        <input type="password" asp-for="NewPassword" placeholder="New Password" required>
        <span class="input-icon">🔒</span>
    </div>

    <div class="input-group">
        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
        <span class="input-icon">🔒</span>
    </div>

    <div asp-validation-summary="All"></div>

    <button type="submit" class="btn">Sign Up</button>
    <p class="switch-text">
</form>